<div id="<%= dom_id sentence %>">
  <p onclick="myfunc(this);" data-title="<%=sentence.content%>">
    <%= sentence.content %>
  </p>

  <p>
    <img width=100 height=100 src="/uploads/<%= sentence.mypic.image%>" />
  </p>

</div>
