<h1>Editing mymapstuff</h1>

<%= render "form", mymapstuff: @mymapstuff %>

<br>

<div>
  <%= link_to "Show this mymapstuff", @mymapstuff %> |
  <%= link_to "Back to mymapstuffs", mymapstuffs_path %>
</div>
